

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/cc6a5db783.js" crossorigin="anonymous"></script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-right">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <button class="w3-bar-item w3-button w3-padding-large w3-hide-small" (click)=toBlockChainPage() >Blockchain
    </button>
    <button class="w3-bar-item w3-button w3-padding-large w3-hide-small" (click)=toMarketPage()>Market</button>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <div>
      <button id="login" class="w3-bar-item w3-button w3-padding-large w3-hide-small" 
      (click)=goLogin() hidden=true>Log In</button>
      <button id="login"  class="w3-bar-item w3-button w3-padding-large w3-hide-small" 
      (click)=goSignUp() hidden=true>Sign Up</button>

      <span id="userId" class=" w3-padding-large w3-right"
      style="cursor: pointer"
      (click)=toProfilePage()>
      {{user.UserName}}
      </span>
    </div>
    
  </div>
  
</div>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
   
  <div class="w3-center">
  <h1 class="w3-wide w3-center">P2P</h1>
  </div>
</header>




<!-- The Energy Card Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
         
          <div class="w3-container w3-white" id="ss" 
          onclick="document.getElementById('sellModal').style.display='block'" style="height:360px">
       
          <h3 class="w3-center" id ="SellH3">Sell</h3>
           
            <p></p>
            <!-- <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('sellModal').style.display='block'">Sell Now</button> -->
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
         
          <div class="w3-container w3-white" id="ss" 
          onclick="document.getElementById('buyModal').style.display='block'" style="height:360px">
         <h3 class="w3-center" id ="SellH3">Buy</h3>

            <p></p>

            <!-- <button class="w3-button w3-black" onclick="document.getElementById('buyModal').style.display='block'">Buy Now</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Buy Energy Modal -->
  <div id="buyModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-dark-gray w3-center w3-padding-32"> 
        <span onclick="document.getElementById('buyModal').style.display='none'" 
       class="w3-button w3-dark-gray w3-xlarge w3-display-topright">&times;</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>BUY</h2>
      </header>
      <div class="w3-container">
        <h1>{{ user.UserName}}</h1>
        <p><label><i class="fa fa-bolt"></i>Amount</label>
          <input class="w3-input w3-border" type="number" min="0" 
          value="0" step="0.01" 
          placeholder="Amount of energy (KWh)" [(ngModel)]="block.Amount">
        </p>

        <p><label><i class="fa fa-money"></i>Price</label>
          <input class="w3-input w3-border" type="number" min="0" 
          value="0" step="0.01"
          placeholder="Price ($)" [(ngModel)]="block.Price">
        </p>

       
        <button (click)="AddBuyOrder()" 
        class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">
        BUY <i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>


  <!--  Sell Energy Modal -->
  <div id="sellModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-dark-gray w3-center w3-padding-32"> 
        <span onclick="document.getElementById('sellModal').style.display='none'" 
       class="w3-button w3-dark-gray w3-xlarge w3-display-topright">&times;</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>SELL</h2>
      </header>
      <div class="w3-container">

        <h1>{{ user.UserName}}</h1>

        <p><label><i class="fa fa-bolt"></i>Amount</label>
          <input class="w3-input w3-border" type="number" min="0" 
          value="0" step="0.01" 
          placeholder="Amount of energy (KWh)" [(ngModel)]="block.Amount">
        </p>

        <p><label><i class="fa fa-money"></i>Price</label>
          <input class="w3-input w3-border" type="number" min="0" 
          value="0" step="0.01"
          placeholder="Price ($)" [(ngModel)]="block.Price">
        </p>

    
        <button (click)="AddSellOrder()" class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right"> 
          SELL <i class="fa fa-check"></i></button>
        
      </div>
    </div>
  </div>


<div class="w3-container">
<!-- <hr> -->

</div>






<!-- <div class="w3-container">
  <hr>
  <div class="w3-center">
    <h2>Current Blockchain</h2>
    <p w3-class="w3-large">Don't worry. W3.CSS takes care of your tables.</p>
  </div>
<div class="w3-responsive w3-card-4">
<table class="w3-table w3-striped w3-bordered">
<thead>
<tr class="w3-theme">
  <th>Info</th>
  <th>Info</th>
  <th>Info</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Info</td>
  <td>Info</td>
  <td>Info</td>
</tr>
<tr class="w3-white">
  <td>Info</td>
  <td>Info</td>
  <td>Info</td>
</tr>
<tr>
  <td>Info/td>
  <td>Info</td>
  <td>Info</td>
</tr>
</tbody>
</table>
</div>

<hr>

</div>


<hr> -->




<!-- Footer
<footer class="w3-container w3-theme-dark w3-padding-16">
  <h3>Footer</h3>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p>Remember to check out our  <a href="w3css_references.asp" class="w3-btn w3-theme-light" target="_blank">W3.CSS Reference</a></p>
</footer>

</body>
</html> -->

