#ss{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
#SellH3{
    font-size: 6rem;
}
#login{
  display: flex;
  justify-content: right !important;
  align-items: right !important;
  cursor: pointer;
}