<form>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="email" class="form-control"  placeholder="Email"  name="Email" [(ngModel)]="validatedUser.Email">
    </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="password" class="form-control"  placeholder="Password"  name="PasswordHash" [(ngModel)]="validatedUser.PasswordHash">
    </div>

    <div>
        <button (click)="loginUser()" class="btn btn-primary" type="button" >Login</button>
    </div>
</form>

<div>
    <button (click)="goBack()" class="btn btn-primary" type="button">Back</button>
</div>