.cards {
    flex: 1 0 auto;
    max-width: 90%;
    margin: 2em auto;
    text-align: left;
    max-height: 600px;
    position:sticky;
    /* font-size:15px; */
    overflow-wrap: break-word;
  }

  .header{
    text-align: center;
    margin-top: 15px;
  }
  