<h1 style="text-align: center;">
  P2P Blockchain Frontend Page 2021 
  1st Commit & Push Testing for GitHub Merging...
  2nd Commit & Push Testing for GitHub Merging...
  <br>
  <button (click)="getBlockchain()" class="btn btn-primary" type="button">Get Blockchain</button>
</h1>
<!-- <app-display-blockchain></app-display-blockchain> -->

<div *ngIf="toDisplay" class="container-fluid">
  <div *ngFor="let block of blockchain">
    <div>Index: {{ block.Index }}</div>
    <div>Seller: {{ block.AllData.Seller }}</div>
    <div>Buyer: {{ block.AllData.Buyer }}</div>
    <div>Amount: {{ block.AllData.Amount }}</div>
    <div>Price: {{ block.AllData.Price }}</div>
    <div style="color: crimson;">Details: {{ block | json }}</div>
    <br><br>
  </div>
</div>