<!DOCTYPE html>
<p>admin works!</p>

<!-- <div class="w3-container">
    <hr>
    <div class="w3-center">
      <h2>User</h2>
      
    </div>
  
    
      <div>
        <div class="w3-card-4">
                
          <p><b>Index:</b> {{ block.Index }}</p>
          <p><b>Seller:</b> {{ block.AllData.Seller }}</p>
          <p><b>Buyer:</b> {{ block.AllData.Buyer }}</p>
          <p><b>Amount:</b> {{ block.AllData.Amount }}</p>
          <p><b>Price:</b> {{ block.AllData.Price }}</p>
          <p><b>Previous Hash:</b> {{ block.PrevHash }}</p>
          <p><b>Current Hash:</b> {{ block.Hash }}</p>
          <p><b>Timestamp:</b> {{ block.Timestamp.slice(0, 19) }}</p> 
                  
          <p>Details: {{ block | json }}</p>
        </div>        
      </div>
        
      
  
  </div> -->