<!DOCTYPE html>
<p>admin works!</p>

<div class="w3-container">
    <hr>
    <div class="w3-center">
      <h2>Delete</h2>
      <input type="text" name="Database" placeholder="Database" [(ngModel)]="DeletionQuery.Database">
      <input type="text" name="Collection" placeholder="Collection" [(ngModel)]="DeletionQuery.Collection">
      <input type="text" name="Query" placeholder="Query" [(ngModel)]="DeletionQuery.Query"> 
      <input type="text" name="Condition" placeholder="Condition" [(ngModel)]="DeletionQuery.Condition">
      <select id="DeletionType">
        <option value=1 selected>Delete Document(s)</option>
        <option value=2>Delete Collection</option>
        
      </select>
      <div>
      <button (click)="DeleteObject()" class="button">Submit</button>
      </div>
        
      
  
  </div>