<div>
    
    <div>  
      <!-- /<button routerLink="/userprofile" routerLinkActive="active" class="btn btn-primary" type="button"> Go User Profile Page </button> -->
      <button (click)=onSelect(PageList[2]) class="btn btn-primary" type="button"> Go User Profile Page </button>
    </div>
    <div>  
      <button (click)=onSelect(PageList[3]) class="btn btn-primary" type="button"> Go Login Page </button>
    </div>
    <div>  
      <button (click)=onSelect(PageList[4]) class="btn btn-primary" type="button"> Show Landing Page </button>
    </div>
</div>

<router-outlet></router-outlet>
