

<!DOCTYPE html>
<html>
<title>Market Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/cc6a5db783.js" crossorigin="anonymous"></script>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-right">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" 
    title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <button class="w3-bar-item w3-button w3-padding-large w3-hide-small" (click)=toLandingPage() >Home
    </button>
    <button class="w3-bar-item w3-button w3-padding-large w3-hide-small" (click)=toBlockChainPage() >Blockchain
    </button>
    <button class="w3-bar-item w3-button w3-padding-large w3-hide-small" (click)=toMarketPage() > Market
    </button>
    
    
    <div>
      <span id="userId"  class=" w3-padding-large w3-right"> {{user.UserName}}</span>
    </div>
    
  </div>
  
</div>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
   
  <div class="w3-center">
  <h1 class="w3-wide w3-center">Profile Page</h1>
  </div>
</header>


<hr>
<div class="w3-container">
  Profile Details
  <div class="row">
    <div class="col-12">
      <div class="w3-card-4">
        <div *ngIf="userpresent" id="userDetails">
          <p *ngIf="user.FullName" >
            Full Name: {{user.FullName}}
          </p>
          <p *ngIf="user.UserName" >
            Username: {{user.UserName}}
          </p>
          <p>
            Email: {{user.Email}}
          </p>
          <p>
            Phone: {{user.PhoneNumber}}
          </p>
          <p *ngIf="user.Address">
            Address: {{user.Address}}
          </p>
          <p>
            ID: {{user.ID}}
          </p>
          <p>
            Smartmeter Number: {{user.SmartMeterNumber}}
          </p>
          <p>
            <i class="fa fa-bolt"></i>
            Energy Balance: {{user.EnergyBalance}}KWh
          </p>
          <p>
            <i class="fa fa-money"></i>
            Currency Balance: {{user.CurrencyBalance}}$
          </p>
          <p *ngIf="user.CompletedTransaction" >
            Completed Transactions: {{user.CompletedTransaction}}
          </p>
        </div>
      </div> 
    </div>
  </div>
  <div *ngIf="MarketFetched && BlocksFetched" class="col-12">
    <button class="w3-button w3-black w3-padding-small w3-margin-right" (click)="ShowCompleted()">Completed Orders</button>
    <button class="w3-button w3-black w3-padding-small" (click)="ShowOpen()">Open Orders</button>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="showMarketDetails">
        <ng-container *ngIf="Showcompleted">
          <div *ngFor="let block of blocks">
            <div class='w3-card-4 w3-margin w3-padding'>
              <div class="row">
                <div class="col-4">
                  <p>
                    Seller: {{block.AllData.Seller}}
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    Amount: {{block.AllData.Amount}}
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    Price: {{block.AllData.Price}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="Showopen">
          <div *ngFor="let order of userorders">
            <div class='w3-card-4 w3-margin w3-padding'>
              <div class="row">
                <ng-container *ngIf="order.Buyer" class="col-4">
                  <p>
                    Buyer: {{order.Buyer}}
                  </p>
                </ng-container>
                <ng-container *ngIf="order.Seller" class="col-4">
                  <p>
                    Seller: {{order.Seller}}
                  </p>
                </ng-container>
                <div class="col-4">
                  <p>
                    Amount: {{order.Amount}}
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    Price: {{order.Price}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
          
      </div>
    </div>
  </div>
</div>
<!-- <hr> -->




<!-- <footer class="w3-container w3-theme-dark w3-padding-16">
  <h3>Footer</h3>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p>Remember to check out our  <a href="w3css_references.asp" class="w3-btn w3-theme-light" target="_blank">W3.CSS Reference</a></p>
</footer> -->


<!-- </body>
</html> -->

