

mat-expansion-panel {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}
.spacer {
  flex: 0.5 1 auto;
}

.tabs {
  /* flex: 1 0 auto;
  max-width: 90%;
  margin: 2em auto;
  margin-bottom: 20px;
  margin-bottom: 100px !important;
  text-align: center;
  max-height: 90%; */
  /* position:sticky; */
  margin: 2em auto 50px;
  position: sticky;
  width: 90%;
  max-height: 500px;
}

.header{
  text-align: center;

}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.emailInput{
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}