
<div>
  <mat-expansion-panel 
    (afterCollapse)="clear()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Make a New Order
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon title="Currency Balance">account_balance_wallet</mat-icon>:{{user.CurrencyBalance}} $
        <span class="spacer"></span>
        <mat-icon title="Energy Balance">battery_charging_full</mat-icon>:{{user.EnergyBalance}} KWh

      </mat-panel-description>
    </mat-expansion-panel-header>
    <form 
      (ngSubmit)="AddNewOrder()" 
      name="NewOrderForm"
      [formGroup]="NewOrderForm"
      >
      <!-- <p>This is the primary content of the panel.</p> -->
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Amount of Energy</mat-label>
          <input
            type="number" min="0" step="0.01" max="{{maxOrder}}"
            formControlName="amount"
            (keyup)="validate()"
            matInput
            placeholder="Amount in KW/h" required
          />
          <mat-error *ngIf="!NewOrderForm.controls['amount'].valid">
            Please enter a valid amount
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Price per KW/h</mat-label>
          <input
            type="number" min="0" step="0.01" 
            formControlName="price"
            (keyup)="validate()"
            matInput
            placeholder="Price per KW/h in $" required
            
          />
        </mat-form-field>
      </div>
      <div>
        <mat-label>Type of Order: </mat-label>
        <mat-radio-group formControlName="type" required>
          <mat-radio-button
            value="Buy"  
            (change)="validate()"
            style="margin-right: 15px;"
          >
            Buy
          </mat-radio-button>
          <mat-radio-button
            value="Sell"
            (change)="validate()"
          >
            Sell
          </mat-radio-button>
        </mat-radio-group>  
        <mat-error *ngIf="!NewOrderForm.controls['type'].valid">
          Please select the type of order
        </mat-error>
      </div>
      <button style="margin-top: 15px;" mat-raised-button color="accent">Submit</button>
    </form>
  </mat-expansion-panel>
  <div class="tabs">
    <h1 class="text-center">Current Market </h1>
    <mat-tab-group mat-align-tabs="center" class="tabs" *ngIf="IsFetched">
    
      <mat-tab class="tabs" label="Buy">  
        <mat-card style="margin-top: 10px;" class="full-width" *ngFor="let order of sellorders">
              
            <div class="row">
              <div class="col">
                <p>
                  Seller: {{order.Seller}}
                </p>
              </div>
              <div class="col">
                <p>
                  Amount: {{order.Amount}} KWh
                </p>
              </div>
              <div class="col">
                <p>
                  Price: {{order.Price}} $/KWh
                </p>
                
              </div>
              <div class="col">
                <button mat-raised-button color="accent" (click)="PressBuySell(order)">Buy</button>
              </div>
            </div>
        </mat-card>
      </mat-tab>
      <mat-tab class="tabs" label="Sell"> 
        <mat-card style="margin-top: 10px;" class="full-width" *ngFor="let order of buyorders">
          <div class="row">
            <div class="col">
              <p>
                Buyer: {{order.Buyer}}
              </p>
            </div>
            <div class="col">
              <p>
                Amount: {{order.Amount}} KWh
              </p>
            </div>
            <div class="col">
              <p>
                Price: {{order.Price}} $/KWh
              </p>
            </div>
            <div class="col">
              <button mat-raised-button color="accent" (click)="PressBuySell(order)">Sell</button>
            </div>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>



