#ss{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
  }
  .focused {
    background-color: red !important;
  }
.card { cursor: pointer !important; }

 