@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-grey, 900);
// $my-accent: mat-palette($mat-orange, 200);
$my-accent: mat-palette($mat-deep-orange, 400);
$my-warn: mat-palette($mat-red, 800);

$my-theme: mat-dark-theme($my-primary,$my-accent,$my-warn);

@include angular-material-theme($my-theme);

.alternative {
    $my-primary: mat-palette($mat-deep-orange, 400);
    $my-accent: mat-palette($mat-grey, 900);
    $my-warn: mat-palette($mat-red, 800);

    $my-theme: mat-light-theme($my-primary,$my-accent,$my-warn);

    @include angular-material-theme($my-theme);
}
.alternative .mat-tab-label, .alternative .mat-tab-link{
    color: white;
}
// .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
//     color: #ff8484;
// }
// .mat-error {
//     color: #ff4040;
// }

