<form>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="text" class="form-control" placeholder="FullName" name="FullName" [(ngModel)]="user.FullName">
    </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="text" class="form-control" placeholder="ID" name="ID" [(ngModel)]="user.ID">
        </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="number" class="form-control"  placeholder="Phone number" name="PhoneNumber" [(ngModel)]="user.PhoneNumber">
        </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="email" class="form-control"  placeholder="Email"  name="Email" [(ngModel)]="user.Email">
    </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="text" class="form-control" placeholder="UserName" name="UserName" [(ngModel)]="user.UserName">
        </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="number" class="form-control"  placeholder="Smart Meter Number" name="SamrtMeterNumber" [(ngModel)]="user.SmartMeterNumber">
        </div>
    <div class="input-group">
        <span class="input-group-addon"></span>
        <input id="" type="password" class="form-control"  placeholder="Password"  name="PasswordHash" [(ngModel)]="user.PasswordHash">

    </div>

    <div>
        <button (click)="addUserProfile();goLogin()" class="w3-padding-large w3-button" type="button" >Create user profile</button>
    </div>
</form>

<div>
    <button (click)="goBack()" class="w3-padding-large w3-button" type="button">Back</button>
</div>